@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

button{
    box-shadow: 0 4px 5px -2px #888888;
}

button:focus{
    outline: none;
    transition: all 0.9s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

#top, #bottom, #middle{
    display: flex;
    width: 35%;
    justify-content:space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
}

#middle{
 justify-content: space-between;
}

/*/////////// 1. ROW////////////*/

.one{
    width: 150px;
    height: 35px;
    border: none;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
}

.one i{
    margin-right: 10px;
}

#oneFirst{
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

#oneSecond{
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
}


/*//////////// 2. ROW ////////////*/

.two{
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border:none;
    text-align: left;
    color: white;
}

.two i{
 border-radius: 50%;
 padding:15px 15px;
 font-size: 18px;
 margin-left: -5px;
 margin-right: 3px;
 margin-top: -8px;
 background: linear-gradient(145deg, #e1e1e1, #ffffff);
 box-shadow:  1px 1px 1px #d5d5d5, 
             -1px -1px 1px #ffffff;
 color:#ad1deb;
}

#twoFirst{
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    
}

#twoFirst i{
    color:#087ee1;
}

#twoThird{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    
}

#twoThird i{
    color:#f7b42c;
}

/*//////////3. ROW ////////////*/

.three{
 width: 135px;
 height: 34px;
 border-radius: 25px;
 border:none;
 display: grid;
 grid-template-columns: 1fr 0.3fr;
 color: white;
}

.three > i {
    margin-top: 0px;
    margin-right: -1px;
    border-radius: 50%;
    padding: 10px 8px;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    box-shadow: -1px 0px 6px 0px #aaaaaa;

}

.three p{
    margin-top: 10px;
    margin-left: 2px;
    text-transform: uppercase;
}

#threeFirst, #threeFirst > i{
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
}


#threeSecond, #threeSecond > i{
    background-color: #0499f2;
background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
}


@media only screen and (max-width: 900px) {
body{
    justify-content: center;
}
    #top, #middle, #bottom{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
.one, .two, .three{
    margin: 15px 0px;
}

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    #top, #middle, #bottom{
        width: 70%;
    }
}